.filterSection {
  position: relative;
  display: flex;

  & .filterSelection {
    top: 0;
    left: 0;
    align-self: flex-start;
    position: sticky;
  }

  & .resetButton {
    font-size: var(--font-size-small);
  }
}

.filmBlock {
  display: flex;
  flex-direction: column;
}

.filterCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 10px;

  & button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin: 5px;
  }

  .activeGenre {
    background-color: var(--color-info-100);
  }
}
