.castBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: var(--font-size-xl);
  color: var(--color-dark-100);
  padding: 25px 10px;
  & > span {
    font-size: var(--font-size-xxl);
  }
  & .castActors {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
    & .actor {
      display: flex;
      flex-direction: column;
      font-width: var(--font-weight-bold);
      align-items: center;
      & p {
        margin: 10px 0 0;
        font-size: var(--font-size-xl);
      }
      & span {
        font-size: var(--font-size-s);
      }
    }
  }

  & img {
    border: 8px solid var(--color-dark-900);
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.similarMovies {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: var(--font-size-xl);
  color: var(--color-dark-100);
  padding: 25px 10px;
  & > span {
    font-size: var(--font-size-xxl);
  }
  & .movies {
    margin: 25px 0;
    display: flex;
    justify-content: center;
  }
}
