.pageWrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  & .imageBlock {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-shadow: 0 0 6px var(--color-light-900);
  }
  & img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-light-200);
    filter: brightness(50%);
    object-fit: fill;
    user-select: none;
  }
  & .backButton {
    position: absolute;
    top: 3%;
    left: 2%;
  }
}
