.header {
  all: unset;
  display: flex;
}

.trigger {
  all: unset;
  border: 1px solid var(--color-accent-100);
  background-color: transparent;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-l);
  line-height: 1;
  color: var(--color-info-300);
  transition: 0.1s linear;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: var(--color-dark-700);
  &:hover {
    background-color: var(--color-dark-300);
    cursor: pointer;
    & .chevron {
      color: var(--color-info-300);
    }
  }
}

.content {
  overflow: hidden;
  font-size: 15px;
  color: var(--color-info-300);

  &[data-state="open"] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state="closed"] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
}

.chevron {
  color: var(--color-info-300);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  transform: rotate(270deg);
  .trigger[data-state="open"] > & {
    transform: rotate(360deg);
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
