.mainBlock {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;

  & .welcomeSection {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 85vh;
    text-shadow: 0 0 6px var(--color-dark-100);

    & .posterStyle {
      width: 100%;
      height: 100%;
      border: 1px solid var(--color-light-200);
      filter: brightness(50%);
      object-fit: cover;
      user-select: none;
      object-position: center 20%;
    }

    & .searchBlock {
      position: absolute;
      top: 40%;
      padding: 0 20px;
      color: var(--color-light-100);
      user-select: none;
      & h5 {
        margin: 0;
        font-size: 3rem;
      }

      & p {
        margin: 20px 0;
        font-size: 2rem;
      }

      & form {
        display: flex;

        & input {
          margin-right: 10px;
        }
      }
    }
  }
}
