.textFieldWrapper {
  margin-right: 15px;
  & input {
    padding: 10px;
  }
}

.search {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-light-100);
  border-radius: 10px;
  outline: none;
  background-color: var(--color-dark-900);
  color: var(--color-light-700);
  &:focus {
    box-shadow: 0 0 5px 3px var(--color-dark-100);
  }
  &::-webkit-search-cancel-button {
    &:hover {
      cursor: pointer;
    }
  }
}
.errorMessage {
  color: var(--color-danger-500);
}
