.footerSection {
  width: 100%;
  background-color: var(--color-light-900);
  display: flex;
  margin: 20px 0 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-dark-900);
  position: relative;
  padding: 10px 0;
  box-shadow: 0 -4px 6px -4px var(--color-dark-100);
  font-size: var(--font-size-l);

  & .links {
    margin-top: 10px;
    display: flex;
    gap: 30px;
  }
}
