.root {
  margin: 10px 0 0 10px;
  border-radius: 15px;
  width: 300px;
  background-color: var(--color-dark-300);
  border: 5px solid var(--color-light-900);
  padding: 15px 20px;
}

.item {
  overflow: hidden;
  margin-top: 1px;

  &:first-child {
    margin-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:focus-within {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 1px var(--color-accent-100);
  }
}
