.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
  padding: 15px 0;
  margin: 5px 0;
}
.sliderValues {
  display: flex;
  justify-content: space-between;
}
.track {
  background-color: var(--color-dark-100);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.range {
  position: absolute;
  background-color: white;
  border-radius: 9999px;
  height: 100%;
}

.thumb {
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  transition: 0.2s;

  &:hover {
    background-color: var(--color-info-300);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
